DB_URL="postgresql://greenroots:greenroots@localhost/greenroots"

BULMA_URL="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"

EMAIL_USER="greenroots.website@gmail.com"
EMAIL_PASS="greenroots2024"